<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
    教室信息表数据库 XML 映射
-->
<mapper namespace="com.hnkjzyxy.ab.mapper.ClassroomMapper">

    <!--
        教室字段映射，将 JSH、SKDD、XQMC 和 JZWMC 分别映射为教室编号、名称、校区和教学楼。
    -->
    <resultMap id="ClassroomResultMap" type="com.hnkjzyxy.ab.model.Classroom">
        <id property="id" column="id"/>
        <result property="boardSn" column="board_sn"/>
        <result property="classroomNumber" column="JSH"/>
        <result property="classroomName" column="SKDD"/>
        <result property="campusName" column="XQMC"/>
        <result property="buildingName" column="JZWMC"/>
        <result property="floor" column="floor"/>
        <result property="boardSn" column="board_sn"/>
    </resultMap>

    <!--
        动态查询教室列表
        参数：classroom（教室查询条件）。
        返回：教室列表。
    -->
    <select id="getClassroomList" resultMap="ClassroomResultMap">
        SELECT sc.* FROM sys_classroom sc
        <where>
            <if test="floor != null">
                AND sc.floor = #{floor}
            </if>
            <if test="classroomNumber != null and classroomNumber != ''">
                AND sc.JSH LIKE CONCAT('%', #{classroomNumber}, '%')
            </if>
            <if test="classroomName != null and classroomName != ''">
                AND sc.SKDD LIKE CONCAT('%', #{classroomName}, '%')
            </if>
            <if test="campusName != null and campusName != ''">
                AND sc.XQMC LIKE CONCAT('%', #{campusName}, '%')
            </if>
            <if test="buildingName != null and buildingName != ''">
                AND sc.JZWMC LIKE CONCAT('%', #{buildingName}, '%')
            </if>
            <if test="boardSn != null and boardSn != ''">
                AND BINARY sc.board_sn = BINARY #{boardSn}
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
