<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
    角色数据访问 XML 映射
-->
<mapper namespace="com.hnkjzyxy.ab.mapper.RoleMapper">

    <!--
        删除指定角色的菜单关联
        参数：ids（角色ID集合）。
    -->
    <delete id="roleMenu">
        DELETE
        from sys_role_menu
        where role_id in (#{ids})
    </delete>

    <!--
        删除指定角色的用户关联
        参数：ids（角色ID集合）。
    -->
    <delete id="userRole">
        DELETE
        from sys_user_role
        WHERE role_id in (#{ids})
    </delete>

    <!--
        查询指定权重的角色
        参数：weight（待查询的角色权重）。
        返回：指定权重的角色列表。
    -->
    <select id="getRoleWeight" resultType="com.hnkjzyxy.ab.model.Role">
        select *
        from sys_role
        where weight = #{weight}
    </select>

    <!--
        查询角色权重
        参数：role（角色ID）。
        返回：角色权重。
    -->
    <select id="getWeightByRole" resultType="Integer">
        select weight
        from sys_role
        where role_id = #{role}
    </select>

</mapper>
